<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Open Class Space</h5>
    </div>
    <div class="col l4 offset-l2 s12 connect">
      <h5 class="white-text">Connect with us</h5>
        <a href="#"
        class="waves-effect waves-light btn-floating">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#"
        class="waves-effect waves-light btn-floating">
          <i class="fa fa-facebook"></i>
        </a>

        <a href="#"
        class="waves-effect waves-light btn-floating">
          <i class="fa fa-linkedin"></i>
        </a>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    Copyright © 2015 Open Class Space Inc. All Rights Reserved.
  </div>
</div>
