<!DOCTYPE html>
<html lang="en">
<head>
  <% include shared/head %>
</head>
<body>
  <header>
    <% include shared/nav %>
  </header>

  <main>
    <% include root/banner.ejs %>
    <% include root/sect1.ejs %>
    <% include root/sect2.ejs %>
    <% include root/sect3.ejs %>
    <% include root/sect4.ejs %>
    <% include root/sect5.ejs %>
  </main>

  <footer>
    <% include shared/footer %>
  </footer>

  <% include shared/scripts %>
</body>
</html>
