<!DOCTYPE html>
<html lang="en">
<head>
  <% include shared/head %>
</head>
<body>
  <% include root/not_ready %>
  <header>
    <% include shared/nav %>
  </header>

  <main>
    <% include root/banner %>
    <% include root/summary %>
    <% include root/sect1 %>
    <% include root/sect2 %>
    <% include root/sect3 %>
    <% include root/sect4 %>
    <% include root/sect5 %>
  </main>

  <footer class="page-footer black">
    <% include shared/footer %>
  </footer>

  <% include shared/scripts %>
</body>
</html>
