<!DOCTYPE html>
<html lang="en">
<head>
  <% include shared/head %>
</head>
<body>
  <header>
    <% include shared/nav %>
  </header>

  <main>

  </main>

  <footer></footer>
  <% include shared/scripts %>
</body>
</html>
