<!-- Modal Structure -->
<div id="notReady" class="modal">
 <div class="modal-content">
   <div class="container">
     <h4><strong>Hello! Virtual classes will soon be a reality!</strong></h4>
     <p class="flow-text">
       You caught us before Open Space Class is ready. We are working hard to get
       virtual classes up and running. If you would like us to send you a reminder
       or if you want to be part of the process of starting virtual classes, put
       your email in below:
     </p>
     <% include email %>
   </div>
 </div>
 <div class="modal-footer">
   <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">
     Send
   </a>
 </div>
</div>
