<!-- Modal Structure -->
<div id="notReady" class="modal">
 <div class="modal-content">
   <div class="container">
     <div class="hide-on-small-only">
       <h4><strong>Hello! Virtual classes will soon be a reality!</strong></h4>
       <h6 class="flow-text">
         You caught us before Open Space Class is ready. Want a reminder or join us in testing?
         Put your email below:
       </h6>
     </div>
     <div class="hide-on-med-and-up">
       <h5><strong>We will be up soon!</strong><h5>
         <h6 class="flow-text">
           Want a reminder or join us in testing? Put your email below:
         </h6>
     </div>
     <% include email %>
   </div>
 </div>
 <div class="modal-footer">
   <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">
     Send
   </a>
 </div>
</div>
