<div class="bg-sect3">
  <div class="section section-min container white-text">
    <div class="row">
      <div class="col s12 m6">
        <img class="responsive-img" src="http://res.cloudinary.com/gavinching/image/upload/c_scale,f_auto,fl_progressive,q_30,w_960/v1433283213/osvr_e7tuhi.png">
      </div>
      <div class="col s12 m6">
        <div class="card-panel teal">
          <h3 class="weight-200">You learn <strong>better</strong> in person.</h3>
          <hr/>
          <p class="flow-text weight-200">An interpersonal class environment using <strong>virtual technology.</strong></p>
          <h5 class="flow-text weight-200">
            Is learning through virtual reality <strong>better</strong> than reality?
          </h5>
          <h3>We believe so.</h3>
        </div>
      </div>
    </div>
  </div>
</div>
