<div class="sect-with-video">
  <video class="sect1-video" preload="metadata" autoplay loop
  poster="http://res.cloudinary.com/gavinching/video/upload/q_40,vc_auto/v1433284759/nail-new-flipped_q7dz6w.jpg">
    <source src="http://res.cloudinary.com/gavinching/video/upload/q_40,vc_auto/v1433284759/nail-new-flipped_q7dz6w.webm" type="video/webm">
    <source src="http://res.cloudinary.com/gavinching/video/upload/q_40,vc_auto/v1433284759/nail-new-flipped_q7dz6w.mp4" type="video/mp4">
    <source src="http://res.cloudinary.com/gavinching/video/upload/q_40,vc_auto/v1433284759/nail-new-flipped_q7dz6w.ogv" type="video/ogg">
  </video>

  <div class="section container section-min white-text">
    <div class="row">
      <div class="col s12 m6 offset-m6">
        <h3 class="weight-200">
          We remember <strong>90%</strong> of what we do.
        </h3>
        <hr/>
        <p class="flow-text weight-200">Interact with the virtual world around you and learn better than just reading and listening.</p>

        <h4 class="weight-200"><strong>Reality</strong> is bounded.</h4>
        <h4 class="weight-200"><strong>Open Class Space</strong> isn’t.</h4>
      </div>
    </div>
  </div>


</div>
