<div class="bg-sect2">
  <div class="section section-min container white-text">
    <h3 class="weight-200 center-align"><strong>OPEN SPACE CLASS</strong> PROVIDES</h3>
    <hr/>
    <div class="row">
      <div class="col s12 m3">
        <div class="center-align"><i class="mdi-action-accessibility medium"></i></div>
        <h5>Immersive Learning</h5>
        <p class="flow-text weight-200">A virtual classroom that is more immersive and interactive compared to a real classroom. Touch and interact with your surroundings as if they were real.</p>
      </div>
      <div class="col s12 m3">
        <div class="center-align"><i class="mdi-social-group medium"></i></div>
        <h5>Personal Interactions</h5>
        <p class="flow-text weight-200">Learn, work and communicate with people as if they were right beside you. True human connections in a virtual world.</p>
      </div>
      <div class="col s12 m3">
        <div class="center-align"><i class="mdi-social-school medium"></i></div>
        <h5>Never Lose Focus</h5>
        <p class="flow-text weight-200">Given the inclusive environment, you are more prone to learn and gain more. Give yourself the focus to discover.</p>
      </div>
      <div class="col s12 m3">
        <div class="center-align"><i class="mdi-social-public medium"></i></div>
        <h5>Learn Anywhere</h5>
        <p class="flow-text weight-200">With the right equipment and the internet, you can attain the best of education from all over the world as if you were there.</p>
      </div>
    </div>
  </div>
</div>
