<div class="black-bg">
  <div class="section section-min container white-text">
    <div class="row">
      <div class="col s12 m6">
        <div class="card-panel blue">
          <h3 class="weight-200">We support <strong>open</strong> virtual technology</h3>
          <hr/>
          <p class="flow-text weight-200">Being a supporter of
            <strong><u><a class="white-text"
              href="http://www.osvr.com">OSVR</a></u></strong>,
            you are able to <strong>learn, teach and develop</strong> with any virtual
            HMD.</p>
        </div>
      </div>
      <div class="col s12 m6">
        <img class="responsive-img" src="http://res.cloudinary.com/gavinching/image/upload/c_scale,f_auto,fl_progressive,q_28,w_960/v1433282996/osvr-2_m1lxt8.png">
      </div>
    </div>
  </div>
</div>
