<div class="bg-sect2">
  <div class="section section-min container white-text">
    <h3 class="weight-200 center-align"><strong>OPEN SPACE CLASS</strong> PROVIDES</h3>
    <hr/>
    <div class="row">
      <div class="col s12 m6 l3">
        <div class="card-panel teal">
          <div class="center-align"><i class="mdi-action-accessibility medium"></i></div>
          <h5>Immersive Learning</h5>
          <p class="flow-text weight-200">A virtual classroom where you can touch and interact with your surroundings.</p>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card-panel blue">

          <div class="center-align"><i class="mdi-social-group medium"></i></div>
          <h5>Personal Interactions</h5>
          <p class="flow-text weight-200">Learn, work and communicate with people as if they were right beside you.</p>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card-panel teal">

          <div class="center-align"><i class="mdi-social-school medium"></i></div>
          <h5>Never Lose Focus</h5>
          <p class="flow-text weight-200">A more inclusive environment, giving you the focus to discover</p>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card-panel blue">

          <div class="center-align"><i class="mdi-social-public medium"></i></div>
          <h5>Learn Anywhere</h5>
          <p class="flow-text weight-200">Attain the best of education from all over the world with virtual gear.</p>
        </div>
      </div>
    </div>
  </div>
</div>
