<div class="bg-sect2">
  <div class="section section-min container white-text center-align">
    <h3 class="weight-200">You learn <strong>better</strong> in person.</h3>
    <p class="flow-text weight-200">Pushes the boundaries of online education by creating an immersive environment. Is learning through virtual reality better than reality?</p>
    <h3>We believe so.</h3>
  </div>
</div>
