<div class="summary-wrapper">
  <div class="summary teal darken-1 container z-depth-5">
    <div class="section container white-text center-align">
      <div class="hide-on-small-only">
        <h2 class="weight-200"><strong>VIRTUAL REALITY</strong> CLASSROOMS</h2>
        <hr/>
        <h5 class="weight-200 flow-text">
          Open Class Space is the <strong>first educational virtual platform</strong> that brings online
          education into the virtual world. Using your <strong>virtual headset</strong>,
          you can <strong>learn</strong> from hosted courses in our immersive virtual
          world.
        </h5>
      </div>
      <div class="hide-on-med-and-up">
        <h4 class="weight-200"><strong>VIRTUAL REALITY</strong> CLASSES</h4>
        <hr/>
        <h5 class="weight-200 flow-text">
          The <strong>first educational virtual platform</strong> allowing you to use
          <strong>virtual gear</strong> to <strong>learn</strong> from hosted
          courses in our virtual world.
        </h5>
      </div>
    </div>
  </div>
</div>
