<div class="summary-wrapper">
  <div class="summary teal darken-1 container z-depth-5">
    <div class="section container white-text center-align">
      <div class="hide-on-small-only">
        <h2 class="weight-200"><strong>VIRTUAL REALITY</strong> CLASSROOMS</h2>
        <hr/>
        <h5 class="weight-200 flow-text">
          Open Class Space is the <strong>first hosted virtual platform</strong> that brings online
          education to the virtual world. Using your <strong>virtual headset and gear</strong>,
          you can <strong>learn and teach</strong> in our immersive virtual world.
        </h5>
      </div>
      <div class="hide-on-med-and-up">
        <h4 class="weight-200">IMMERSIVE <strong>VIRTUAL REALITY</strong> CLASSROOMS</h4>
        <hr/>
        <h5 class="weight-200 flow-text">
          The <strong>first virtual platform</strong> allowing you to use <strong>virtual</strong> gear to
          <strong>learn and teach</strong> in our virtual world.
        </h5>
      </div>
    </div>
  </div>
</div>
