/**
  style.css
  Main styles for Open Class Space
*/

/** Root Styles */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/** Header and Sections */

.main {
  padding: 125px 0 225px 0;
}
article {
  padding: 50px 0 50px 0;
}

.black-opac-bg {
  background-color: rgba(0, 0, 0, 0.2);
}

/** Email */
.email .btn {
  margin-top: 20px;
}


/** Header */
.banner {
  background-image: url("http://res.cloudinary.com/gavinching/image/upload/f_auto,fl_progressive,q_80/v1433282979/earth-space_nwulw5.jpg");
  background-size: cover
  background: black none no-repeat center center;
}

.white-bg {
  background-color: rgba(255,255,255,0.3);
}

/** Summary */
.summary-wrapper {
  background: rgb(12,42,88); /* Old browsers */

  display: -webkit-flex;
  display: flex;
}
.summary {
  margin-top: -30px;
  margin-bottom: -30px;
}



/** Sections */

.black-bg {
  background-color: rgba(0,0,0, 1);
}
.section-min {
  min-height: 500px;
}

.section-min .row {
  padding-top: 25px;
}

.sect-with-video {
  position: relative;
  min-height: 500px;
  overflow: hidden;

}

.sect-with-video-big {
  position: relative;
  height: 700px;
  overflow: hidden;
}


/** Section 1 */
.bg-sect1 {
  background: rgb(12,42,88); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(12,42,88,1) 0%, rgba(10,37,78,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(12,42,88,1)), color-stop(100%,rgba(10,37,78,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(12,42,88,1) 0%,rgba(10,37,78,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(12,42,88,1) 0%,rgba(10,37,78,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(12,42,88,1) 0%,rgba(10,37,78,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(12,42,88,1) 0%,rgba(10,37,78,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c2a58', endColorstr='#0a254e',GradientType=0 ); /* IE6-9 */
}

.sect1-video {
  top: -250px;
  position: absolute;
  z-index: -1000;
  min-width: 100%;
  min-height: 100%;
}

/** Section 2 */
.bg-sect2 {
  background: rgb(10,37,78); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(10,37,78,1) 0%, rgba(5,17,36,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,37,78,1)), color-stop(100%,rgba(5,17,36,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(10,37,78,1) 0%,rgba(5,17,36,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(10,37,78,1) 0%,rgba(5,17,36,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(10,37,78,1) 0%,rgba(5,17,36,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(10,37,78,1) 0%,rgba(5,17,36,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a254e', endColorstr='#051124',GradientType=0 ); /* IE6-9 */

}

.bg-sect2 .card-panel {
  min-height: 330px;
}


@media only screen and (min-width: 960px){

  .bg-sect2 .flow-text{
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1170px){
  .bg-sect2 .flow-text{
    font-size: 1.68rem;
  }
}

/** Section 3 */
.bg-sect3 {
  background: rgb(5,17,36); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(5,17,36,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,17,36,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(5,17,36,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(5,17,36,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(5,17,36,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(5,17,36,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#051124', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

/** Section 5 **/
.sect5 .section-min {
  padding: 200px 0 100px 0;

}

.sect5-video {
  position: absolute;
  z-index: -1000;
  min-width: 100%;
  min-height: 100%;
}

.sect5 .text {
  padding: 0;
}

.sect5 h1 {
  margin: 0 0 1.68rem 0;
}

/** Footer */

.page-footer {
  margin-top: 0px !important;
}

footer .connect a {
  margin: 5px 5px 5px 5px;
}

/** Typography */
.weight-200 {
  font-weight: 200;
}
